@import url("/src/styles/_text.scss");

.dist_container {
  display: flex;
  flex-direction: row;

  border-radius: 20px;

  min-width: 25rem;

  padding: 10px 20px;

  justify-content: space-between;

  align-items: center;

  background-color: var(--accent-v-3);
}

.man_div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.man_svg {
  width: 4rem;
  height: 4rem;

  fill: transparent;

  fill-opacity: 0;

  color: var(--text-primary);

  filter: drop-shadow(0px 0px 5px var(--accent-v-2));
}
