@import url("/src/styles/_text.scss");

.dist_container {
  display: flex;
  flex-direction: row;

  border-radius: var(--border-radius-2);

  padding: var(--default-padding);

  justify-content: space-between;

  align-items: center;

  background-color: var(--accent);

  height: 100%;

  & .default_text {
    color: var(--background);
    font-weight: 300;
  }
}

.man_div {
  display: flex;
  flex-direction: row;

  align-items: center;

  justify-content: center;

  gap: 1rem;

  & .title {
    color: var(--background);
    font-weight: 300;
  }
}

.man_svg {
  width: 4rem;
  height: 4rem;

  fill: transparent;

  fill-opacity: 0;

  color: var(--background);

  filter: drop-shadow(0px 0px 5px var(--accent-v-2));
}

.dist_container_text {
  display: flex;
}

@media screen and (max-width: 1270px) {
  .man_div {
    & .title {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 730px) {
  .man_svg {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .dist_container_text {
    display: none;
  }
  .dist_container {
    justify-content: center;
  }
}
