@import url("/src/styles/pages.css");

.entity_activities_div {
  background-image: url("/src/assets/images/activities.png");

  height: 100%;

  background-size: cover;

  background-position: 70%;

  border-radius: var(--border-radius-2);
}

.entity_activities_info_div {
  display: flex;

  flex-direction: row;

  align-items: center;

  width: 70%;
}

.entity_activities_info_text_div {
  display: flex;

  flex-direction: column;

  gap: 0.3rem;

  padding: 0.5rem 1rem;

  & .small_text {
    color: var(--background);
    font-weight: 900;
  }

  & .subtext {
    color: var(--background);
    font-weight: 100;
  }
}

.entity_activities_count_div {
  height: fit-content;
  width: fit-content;

  display: flex;

  align-items: center;

  justify-content: center;

  padding: 0.2rem 0.6rem;

  border-radius: var(--border-radius-2);

  background-color: var(--accent-v-2);

  & .default_text {
    color: var(--background);
    font-weight: 900;
  }
}
