@use "/src/styles/mixins";
@import url("/src/styles/pages.css");

.profile_svg {
  width: 4rem;
  height: 4rem;

  color: var(--accent);
}

.profile_svg:hover {
  filter: drop-shadow(0px 0px 5px var(--accent-v-2));
}

.profile_button {
  width: fit-content;
  height: min-content;
  border-style: none;
  padding: 0;
  background-color: transparent;
}

.profile_button_container {
  position: relative;
}

.menu_div {
  position: absolute;

  width: max-content;

  display: flex;
  flex-direction: column;

  padding: 1rem 0;

  gap: 0.5rem;

  background-color: var(--accent);

  border-style: none;

  border-radius: var(--border-radius-2);

  z-index: 100;

  font-weight: 300;
}

.menu_item_div {
  display: flex;
  flex-direction: row;

  width: 100%;

  gap: 1rem;

  border-style: none;

  background-color: transparent;

  padding-left: 1rem;
  padding-right: 3rem;

  align-items: center;

  text-align: left;
}

.menu_item_div:hover {
  background-color: var(--accent-v-2);
}

.menu_item_profile_icon {
  @include mixins.svg(2rem);

  fill-opacity: 1;
  color: var(--background);
}

.menu_item_exit_icon {
  @include mixins.svg(2rem);

  fill: var(--background);
  fill-opacity: 1;
  color: transparent;
}

.svg_div {
  display: flex;
  flex-direction: row;

  gap: 0.2rem;

  height: 100%;

  fill: var(--accent-v-2);

  fill-opacity: 0;

  color: var(--accent-v-2);

  align-items: center;
}

.vertical_line {
  width: 1px;

  border-style: none;

  height: 2rem;

  float: left;

  background-color: var(--background);

  margin: 0;
}

@media screen and (max-width: 480px) {
  .menu_div {
    left: -100%;
    width: auto;
  }
}
