@import url("/src/styles/pages.css");

.button_container {
  display: flex;
  flex-direction: column;

  padding: var(--default-padding);
  background-color: var(--accent);
  align-items: center;

  border-radius: var(--border-radius);

  border-style: none;

  color: var(--background);
}

.button_container .default_text {
  color: inherit;
}

.button_container:hover {
  box-shadow: var(--default-shadow) var(--text-primary-v-2);
}

.button_container:active,
.active {
  color: var(--text-primary);
  background-color: var(--background);
  box-shadow: var(--default-shadow) var(--text-primary-v-2);
}
