@import url("./var.css");
@import url("./_text.scss");

.hr_horizontal {
  color: inherit;
  width: 100%;
  background-color: var(--background);
}

.vertical_line {
  width: 1px;

  border-style: none;

  height: 2rem;

  float: left;

  background-color: var(--background);

  margin: 0;
}

.page_intro_title_div {
  color: var(--background);
  background-color: var(--accent);

  width: fit-content;

  & .default_text {
    color: var(--background);
    font-weight: 300;
  }

  padding: 0.5rem 4rem;
  border-radius: var(--border-radius);
}

.black_text {
  font-weight: normal;
}
