@import url("/src/styles/pages.css");

.about_page_container {
  display: flex;

  flex-direction: column;

  align-items: center;

  padding: 5rem 0;
}

.about_page_intro_container {
  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;

  justify-content: center;

  font-weight: 100;

  width: 80%;

  gap: 2rem;
}

.about_page_text_container {
  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 1rem;

  width: 80%;

  font-weight: 100;

  text-align: center;

  & .title {
    font-weight: 900;
    color: var(--accent);
  }

  /* & .accent_subtitle {
    text-align: center;
  } */
}

.about_page_svg_marked_text {
  display: flex;

  flex-direction: row;

  gap: 2rem;

  align-items: center;

  height: min-content;

  text-align: left;
}

.svg_mark {
  height: 100%;

  width: 25rem;

  fill: transparent;

  fill-opacity: 0;

  color: var(--accent);
}

.svg_question_mark {
  height: 100%;

  width: 18rem;

  fill: transparent;

  fill-opacity: 0;

  color: var(--accent);
}

.svg_group_mark {
  height: 100%;

  width: 18rem;

  fill: var(--accent);

  color: var(--accent);
}

.about_page_subscribe_text_container {
  padding: 5rem 0;
}
