@import url("/src/styles/pages.css");

.info_div {
  display: flex;

  flex-direction: column;

  padding-top: 1.875rem;

  gap: 1.25rem;
}

.user_photo {
  display: flex;

  flex-direction: row-reverse;
}

.user_info_div {
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  padding-top: 1.875rem;

  .info_div {
    padding-top: 0;
  }
}

.info_details_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text_link_div {
  display: flex;
  flex-direction: row;

  gap: 20px;
}
