@import url("/src/styles/pages.css");

.header {
  grid-area: header;

  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;

  background-color: var(--background);

  box-shadow: var(--shifted-shadow)
    rgb(from var(--text-primary-v-2) r g b / 25%);

  padding: 0.5rem;

  z-index: 1000;
}

.header_icon_div {
  display: flex;
  flex-direction: row;
  flex: 1;

  align-items: center;
  justify-content: center;
}

.header_icon_logo {
  width: 9rem;

  fill: transparent;

  fill-opacity: 0;

  color: var(--accent-v-2);

  filter: drop-shadow(0px 0px 5px var(--accent-v-2));
}

.header_nav_div {
  display: flex;
  flex-direction: row;
  flex: 1.5;

  align-items: center;
  justify-content: space-between;
}

.header_profile_button_div {
  display: flex;
  flex-direction: row;
  flex: 1;

  align-items: center;
  justify-content: center;
}

.unirunners_svg {
  /* height: 30rem;
  width: 10rem; */
  /* fill: red; */
}
