@import url("/src/styles/_text.scss");

.footer_container {
  grid-area: footer;

  display: flex;

  flex-direction: column;

  padding: var(--default-padding);

  box-shadow: var(--inverted_shifted-shadow)
    rgb(from var(--text-primary-v-2) r g b / 25%);

  & .default_text {
    color: var(--text-primary-v-2);
    font-weight: 100;
  }
}

.footer_title_div {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;
}
